n8n/E - Secretary - Mailing Host & Attendees.json
{
  "name": "E - Secretary - Mailing Host & Attendees",
  "nodes": [
    {
      "parameters": {},
      "id": "ff75bb31-950e-4483-a1b3-ef50078de3b2",
      "name": "🔴 Manual Test",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        12336,
        384
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.fireflies.ai/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"query\": \"query { transcripts(limit: 1) { id title date duration organizer_email participants meeting_attendees { displayName email } sentences { text speaker_name } } }\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "b26c6ff0-5560-462b-a2ef-dbfa713d0705",
      "name": "2. Fetch Latest Meeting",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        12576,
        384
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "AiWJvUpLbYADyKsi",
          "name": "Header Auth account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nlet data = raw.data?.transcripts?.[0] || raw;\n\nconst meeting = {\n  id: data.id || data.meeting_id || 'meet_' + Date.now(),\n  title: (data.title || data.meeting_title || 'Untitled').slice(0, 200),\n  host_email: data.organizer_email || data.host_email || null,\n  attendees: [],\n  transcript: '',\n  duration: parseInt(data.duration) || 0,\n  date: data.date || new Date().toISOString()\n};\n\nif (!meeting.host_email) {\n  const p = data.participants || data.attendees || [];\n  if (p[0]?.email) meeting.host_email = p[0].email;\n  else if (typeof p[0] === 'string') meeting.host_email = p[0];\n}\nif (!meeting.host_email) throw new Error('No host email found');\n\nconst att = data.participants || data.attendees || data.meeting_attendees || [];\nmeeting.attendees = att.slice(0, 50).map(a => ({email: a.email || a, name: a.displayName || a.name || ''})).filter(a => a.email && a.email.includes('@'));\n\nlet text = '';\nif (data.sentences && Array.isArray(data.sentences)) {\n  text = data.sentences.map(s => (s.speaker_name || 'Speaker') + ': ' + (s.text || '')).join(' ');\n} else if (typeof data.transcript === 'string') {\n  text = data.transcript;\n} else if (data.text) {\n  text = data.text;\n}\n\nif (text.length < 50) throw new Error('Transcript too short');\n\n// SANITIZE for JSON - remove all problematic characters\ntext = text.replace(/\\\\/g, '').replace(/\"/g, \"'\").replace(/[\\n\\r\\t]/g, ' ').replace(/\\s+/g, ' ').trim();\n\nif (text.length > 50000) text = text.slice(0, 50000) + ' [Truncated]';\n\nmeeting.transcript = text;\nmeeting.transcript_length = text.length;\n\nconsole.log('Processed:', meeting.title, '|', meeting.transcript_length, 'chars');\nreturn { json: meeting };"
      },
      "id": "055d2cc1-f27e-417a-a071-7a6b0e8656ab",
      "name": "3. Transform Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12816,
        288
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"You are an expert meeting analyst. Analyze this transcript and provide a professional summary.\\n\\nRULES:\\n- Be CONCISE - max 500 words total\\n- Use bullet points, not paragraphs\\n- Include names when assigning action items\\n- Format for easy readability\\n\\nOUTPUT FORMAT (use EXACTLY this structure):\\n\\n## Executive Summary\\n[3-5 key bullet points covering main topics]\\n\\n## Action Items\\n- [ ] [Task] - [Owner] - [Deadline if mentioned]\\n\\n## Key Decisions\\n- [Decision made during meeting]\\n\\n## Follow-up Items\\n- [Open questions or items needing follow-up]\\n\\n---\\n\\nMEETING: {{ $json.title }}\\nDURATION: {{ $json.duration }} minutes\\nATTENDEES: {{ $json.attendees.length }}\\n\\nTRANSCRIPT:\\n{{ $json.transcript }}\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.2,\n    \"topP\": 0.9,\n    \"maxOutputTokens\": 2048\n  },\n  \"safetySettings\": [\n    {\"category\": \"HARM_CATEGORY_HARASSMENT\", \"threshold\": \"BLOCK_NONE\"},\n    {\"category\": \"HARM_CATEGORY_HATE_SPEECH\", \"threshold\": \"BLOCK_NONE\"},\n    {\"category\": \"HARM_CATEGORY_SEXUALLY_EXPLICIT\", \"threshold\": \"BLOCK_NONE\"},\n    {\"category\": \"HARM_CATEGORY_DANGEROUS_CONTENT\", \"threshold\": \"BLOCK_NONE\"}\n  ]\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "66363bf3-0c77-41e0-8f1a-0918f3097e4a",
      "name": "4. Gemini Summarize",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        13056,
        176
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "credentials": {
        "httpQueryAuth": {
          "id": "IDf5fMpMGqJjuhvx",
          "name": "Query Auth account"
        },
        "googlePalmApi": {
          "id": "DevZFafiISb0Otux",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "/**\n * FORMAT HOST APPROVAL EMAIL\n * Creates professional HTML email for host review\n */\n\nconst geminiRaw = $input.first().json;\nconst meeting = $('3. Transform Data').first().json;\n\n// Extract summary from Gemini\nlet summary = 'Summary generation failed. Please review transcript manually.';\n\ntry {\n  if (geminiRaw.candidates?.[0]?.content?.parts?.[0]?.text) {\n    summary = geminiRaw.candidates[0].content.parts[0].text.trim();\n  } else if (geminiRaw.error) {\n    summary = `⚠️ AI Error: ${geminiRaw.error.message || 'Unknown error'}`;\n  }\n} catch (e) {\n  summary = `Processing error: ${e.message}`;\n}\n\n// Format date nicely\nconst meetingDate = new Date(meeting.date);\nconst dateStr = meetingDate.toLocaleDateString('en-IN', {\n  weekday: 'long',\n  year: 'numeric',\n  month: 'long',\n  day: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Build attendee list\nconst attendeeList = meeting.attendees\n  .map(a => a.name ? `${a.name} (${a.email})` : a.email)\n  .join(', ') || 'None listed';\n\n// HTML Email Template\nconst emailHtml = `\n<!DOCTYPE html>\n<html>\n<head><meta charset=\"utf-8\"></head>\n<body style=\"margin: 0; padding: 20px; background: #f0f4f8; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;\">\n  <div style=\"max-width: 640px; margin: 0 auto;\">\n    \n    <!-- Header -->\n    <div style=\"background: linear-gradient(135deg, #3b82f6 0%, #06b6d4 100%); padding: 28px 32px; border-radius: 16px 16px 0 0;\">\n      <h1 style=\"color: white; margin: 0; font-size: 22px; font-weight: 600;\">📋 Meeting Summary - Review Required</h1>\n      <p style=\"color: rgba(255,255,255,0.9); margin: 10px 0 0; font-size: 14px;\">Please review and approve before sending to attendees</p>\n    </div>\n    \n    <!-- Details -->\n    <div style=\"background: white; padding: 28px 32px; border-left: 1px solid #e2e8f0; border-right: 1px solid #e2e8f0;\">\n      <h2 style=\"color: #1e293b; font-size: 18px; margin: 0 0 16px;\">${meeting.title}</h2>\n      \n      <table style=\"width: 100%; font-size: 14px; margin-bottom: 20px;\">\n        <tr><td style=\"padding: 8px 0; color: #64748b; width: 100px;\">📅 Date:</td><td style=\"font-weight: 500;\">${dateStr}</td></tr>\n        <tr><td style=\"padding: 8px 0; color: #64748b;\">⏱️ Duration:</td><td>${meeting.duration} minutes</td></tr>\n        <tr><td style=\"padding: 8px 0; color: #64748b;\">👥 Attendees:</td><td style=\"font-size: 13px;\">${attendeeList}</td></tr>\n      </table>\n      \n      <!-- Summary Box -->\n      <div style=\"background: #f8fafc; padding: 24px; border-radius: 12px; border: 1px solid #e2e8f0;\">\n        <h3 style=\"margin: 0 0 16px; color: #1e293b; font-size: 15px;\">📝 AI-Generated Summary</h3>\n        <div style=\"font-size: 14px; line-height: 1.7; color: #334155;\">\n          ${summary\n            .replace(/\\n/g, '<br>')\n            .replace(/## (.*?)(<br>|$)/g, '<h4 style=\"color: #0f172a; margin: 18px 0 10px; font-size: 14px;\">$1</h4>')\n            .replace(/\\*\\*(.*?)\\*\\*/g, '<strong>$1</strong>')\n            .replace(/- \\[ \\]/g, '☐')\n            .replace(/- \\[x\\]/g, '☑')\n          }\n        </div>\n      </div>\n      \n      <!-- Approval Box -->\n      <div style=\"margin-top: 24px; padding: 20px; background: linear-gradient(135deg, #fef9c3 0%, #fef3c7 100%); border-radius: 12px; border-left: 4px solid #f59e0b;\">\n        <h4 style=\"margin: 0 0 12px; color: #92400e; font-size: 15px;\">✅ How to Approve</h4>\n        <p style=\"margin: 0; color: #78350f; font-size: 13px; line-height: 1.6;\">\n          <strong>To approve as-is:</strong> Reply with <code style=\"background: white; padding: 2px 6px; border-radius: 4px;\">APPROVED</code><br><br>\n          <strong>To approve with changes:</strong> Reply with <code style=\"background: white; padding: 2px 6px; border-radius: 4px;\">APPROVED with changes:</code> followed by your edits<br><br>\n          <strong>To reject:</strong> Reply with <code style=\"background: white; padding: 2px 6px; border-radius: 4px;\">REJECT</code>\n        </p>\n      </div>\n    </div>\n    \n    <!-- Footer -->\n    <div style=\"background: #1e293b; padding: 18px 32px; border-radius: 0 0 16px 16px; text-align: center;\">\n      <p style=\"color: #64748b; margin: 0; font-size: 12px;\">Meeting ID: ${meeting.id} | Powered by E-Secretary</p>\n    </div>\n    \n  </div>\n</body>\n</html>\n`;\n\nreturn {\n  json: {\n    meeting_id: meeting.id,\n    title: meeting.title,\n    host_email: meeting.host_email,\n    attendees: meeting.attendees,\n    date: meeting.date,\n    duration: meeting.duration,\n    summary: summary,\n    email_subject: `[Action Required] Meeting Summary: ${meeting.title.slice(0, 50)}`,\n    email_body: emailHtml\n  }\n};"
      },
      "id": "3de0cc25-cac3-4a73-b238-66c91c7c6843",
      "name": "5. Format Host Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13344,
        256
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.host_email }}",
        "subject": "={{ $json.email_subject }}",
        "message": "={{ $json.email_body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "5a66138d-6e58-4296-b141-d25b2db7bb41",
      "name": "6. Send to Host",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        13536,
        288
      ],
      "webhookId": "a02b01fe-0bbf-4f15-94ca-b0c974b98935",
      "credentials": {
        "gmailOAuth2": {
          "id": "yn0da0X8KKRoG8H7",
          "name": "Gmail account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $input.first().json.error?.message || 'Processing failed', meeting_id: null }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "8bc43182-7acc-43fb-8936-d8e3fe8af32b",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        13296,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * PROCESS HOST REPLY\n * Parse approval, rejection, or suggestions\n */\n\nconst hostEmail = $('5. Format Host Email').first().json;\nconst reply = $input.first().json;\n\n// Get reply text\nconst replyText = (\n  reply.text || \n  reply.body || \n  reply.snippet || \n  reply.content ||\n  ''\n).toLowerCase().trim();\n\nlet status = 'timeout';\nlet suggestions = '';\n\nif (replyText.includes('approved') || replyText.includes('approve')) {\n  status = 'approved';\n  \n  // Extract any changes/suggestions\n  const fullReply = reply.text || reply.body || '';\n  const changeMatch = fullReply.match(/with changes?:?\\s*([\\s\\S]*)/i) ||\n                      fullReply.match(/changes?:?\\s*([\\s\\S]*)/i) ||\n                      fullReply.match(/edits?:?\\s*([\\s\\S]*)/i) ||\n                      fullReply.match(/suggestions?:?\\s*([\\s\\S]*)/i);\n  \n  if (changeMatch?.[1]) {\n    suggestions = changeMatch[1].trim().slice(0, 2000);\n  }\n} else if (replyText.includes('reject') || replyText.includes('cancel') || replyText.includes('discard')) {\n  status = 'rejected';\n}\n\nconsole.log(`Host reply status: ${status}${suggestions ? ' (with changes)' : ''}`);\n\nreturn {\n  json: {\n    ...hostEmail,\n    approval_status: status,\n    host_suggestions: suggestions,\n    has_changes: suggestions.length > 0\n  }\n};"
      },
      "id": "f23ebd38-1a65-4c2b-af59-959d54fea22a",
      "name": "9. Process Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14752,
        144
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "approved",
              "leftValue": "={{ $json.approval_status }}",
              "rightValue": "approved",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6ef0a52d-3400-491a-afa9-6afe993de367",
      "name": "10. Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        14960,
        144
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-changes",
              "leftValue": "={{ $json.has_changes }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bca0bea2-e6c6-4b6c-892f-9b345c12e0e8",
      "name": "11. Has Changes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        15200,
        48
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * FORMAT FINAL EMAIL FOR ALL ATTENDEES\n */\n\nconst data = $('9. Process Reply').first().json;\n\n// Check if we have revised summary\nlet finalSummary = data.summary;\nconst revisedInput = $input.first().json;\n\nif (revisedInput?.candidates?.[0]?.content?.parts?.[0]?.text) {\n  finalSummary = revisedInput.candidates[0].content.parts[0].text.trim();\n}\n\n// Format date\nconst dateStr = new Date(data.date).toLocaleDateString('en-IN', {\n  weekday: 'long',\n  year: 'numeric',\n  month: 'long',\n  day: 'numeric'\n});\n\n// Build attendee emails list (excluding host)\nconst attendeeEmails = data.attendees\n  .map(a => a.email)\n  .filter(e => e && e !== data.host_email);\n\nif (attendeeEmails.length === 0) {\n  console.log('No attendees to email (only host was present)');\n  return { json: { ...data, skip_attendees: true } };\n}\n\n// Professional final email\nconst emailHtml = `\n<!DOCTYPE html>\n<html>\n<head><meta charset=\"utf-8\"></head>\n<body style=\"margin: 0; padding: 20px; background: #f0f4f8; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;\">\n  <div style=\"max-width: 640px; margin: 0 auto;\">\n    \n    <div style=\"background: linear-gradient(135deg, #3b82f6 0%, #06b6d4 100%); padding: 28px 32px; border-radius: 16px 16px 0 0;\">\n      <h1 style=\"color: white; margin: 0; font-size: 22px;\">📋 Meeting Summary</h1>\n      <p style=\"color: rgba(255,255,255,0.9); margin: 10px 0 0; font-size: 14px;\">${data.title}</p>\n    </div>\n    \n    <div style=\"background: white; padding: 28px 32px; border-left: 1px solid #e2e8f0; border-right: 1px solid #e2e8f0;\">\n      <table style=\"width: 100%; font-size: 14px; margin-bottom: 20px;\">\n        <tr><td style=\"padding: 8px 0; color: #64748b; width: 100px;\">📅 Date:</td><td>${dateStr}</td></tr>\n        <tr><td style=\"padding: 8px 0; color: #64748b;\">⏱️ Duration:</td><td>${data.duration} minutes</td></tr>\n      </table>\n      \n      <div style=\"background: #f8fafc; padding: 24px; border-radius: 12px; border: 1px solid #e2e8f0; font-size: 14px; line-height: 1.7;\">\n        ${finalSummary\n          .replace(/\\n/g, '<br>')\n          .replace(/## (.*?)(<br>|$)/g, '<h4 style=\"color: #0f172a; margin: 18px 0 10px; font-size: 14px;\">$1</h4>')\n          .replace(/\\*\\*(.*?)\\*\\*/g, '<strong>$1</strong>')\n          .replace(/- \\[ \\]/g, '☐')\n          .replace(/- \\[x\\]/g, '☑')\n        }\n      </div>\n    </div>\n    \n    <div style=\"background: #1e293b; padding: 18px 32px; border-radius: 0 0 16px 16px; text-align: center;\">\n      <p style=\"color: #64748b; margin: 0; font-size: 12px;\">This summary was reviewed and approved by ${data.host_email} | E-Secretary</p>\n    </div>\n    \n  </div>\n</body>\n</html>\n`;\n\nreturn {\n  json: {\n    meeting_id: data.meeting_id,\n    title: data.title,\n    host_email: data.host_email,\n    attendee_emails: attendeeEmails,\n    final_summary: finalSummary,\n    email_subject: `📋 Meeting Summary: ${data.title.slice(0, 50)}`,\n    email_body: emailHtml,\n    skip_attendees: false\n  }\n};"
      },
      "id": "13724aa2-81c8-4833-a526-708fee14437b",
      "name": "13. Format Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15872,
        128
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.attendee_emails.join(', ') }}",
        "subject": "={{ $json.email_subject }}",
        "message": "={{ $json.email_body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "1bce693f-6d5c-4a5b-a86e-08178e8bd598",
      "name": "15. Send to Attendees",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        16544,
        -224
      ],
      "webhookId": "695617c1-f873-4346-8c59-903ad466a5b9",
      "credentials": {
        "gmailOAuth2": {
          "id": "yn0da0X8KKRoG8H7",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "id": "8c3f09e6-6491-4675-94d0-e245aefabbf4",
      "name": "End: Rejected",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        15200,
        240
      ]
    },
    {
      "parameters": {},
      "id": "141654d5-5f55-4cd5-a28b-aa97bbd95e73",
      "name": "End: Complete",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        16848,
        192
      ]
    },
    {
      "parameters": {},
      "id": "682b2457-ac11-4d93-a3cb-8afa0e398542",
      "name": "Start",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        13776,
        96
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 1,
        "simple": false,
        "filters": {
          "q": "=subject:(Meeting Summary) from:({{ $json.host_email }}) is:unread newer_than:2h"
        },
        "options": {}
      },
      "id": "7d4c9890-112d-4ed5-8aaf-404382294c14",
      "name": "Check for Reply",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        14000,
        96
      ],
      "webhookId": "7a523820-fce0-4c26-a0fd-63584cfc1c21",
      "credentials": {
        "gmailOAuth2": {
          "id": "yn0da0X8KKRoG8H7",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $input.all().length }}",
              "operation": "larger"
            }
          ]
        }
      },
      "id": "0aaeefcd-03a6-4666-9dae-0d07e6218f06",
      "name": "Reply Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        14224,
        96
      ]
    },
    {
      "parameters": {},
      "id": "014c422d-84ef-4655-b34f-37c54b4474e5",
      "name": "No Reply Yet",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        14432,
        192
      ]
    },
    {
      "parameters": {},
      "id": "daaeb4fb-4d83-444c-9ed6-7f6eae585d81",
      "name": "→ Process Reply",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        14432,
        -16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  contents: [{\n    parts: [{\n      text: 'Update this meeting summary based on the host feedback.\\n\\nORIGINAL SUMMARY:\\n' + $json.original_summary + '\\n\\nHOST FEEDBACK:\\n' + $json.host_suggestions + '\\n\\nProvide the updated summary with the same format (Executive Summary, Action Items, Key Decisions, Follow-up).'\n    }]\n  }],\n  generationConfig: {\n    temperature: 0.2,\n    maxOutputTokens: 2048\n  }\n}) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "4cf5e971-fa87-42b5-8d01-cc27c681fffb",
      "name": "12. Revise Summary1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        15552,
        -80
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "credentials": {
        "googlePalmApi": {
          "id": "DevZFafiISb0Otux",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-attendees",
              "leftValue": "={{ $json.skip_attendees }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "85e70648-4fc5-4f89-b1ea-50225cc8f406",
      "name": "14. Has Attendees?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        16224,
        -32
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "🔴 Manual Test": {
      "main": [
        [
          {
            "node": "2. Fetch Latest Meeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Fetch Latest Meeting": {
      "main": [
        [
          {
            "node": "3. Transform Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Transform Data": {
      "main": [
        [
          {
            "node": "4. Gemini Summarize",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Gemini Summarize": {
      "main": [
        [
          {
            "node": "5. Format Host Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Format Host Email": {
      "main": [
        [
          {
            "node": "6. Send to Host",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. Send to Host": {
      "main": [
        [
          {
            "node": "Start",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9. Process Reply": {
      "main": [
        [
          {
            "node": "10. Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10. Approved?": {
      "main": [
        [
          {
            "node": "11. Has Changes?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "End: Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11. Has Changes?": {
      "main": [
        [
          {
            "node": "12. Revise Summary1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "13. Format Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "13. Format Final": {
      "main": [
        [
          {
            "node": "14. Has Attendees?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "15. Send to Attendees": {
      "main": [
        [
          {
            "node": "End: Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Check for Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Reply": {
      "main": [
        [
          {
            "node": "Reply Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply Found?": {
      "main": [
        [
          {
            "node": "→ Process Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Reply Yet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "→ Process Reply": {
      "main": [
        [
          {
            "node": "9. Process Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Reply Yet": {
      "main": [
        [
          {
            "node": "Check for Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12. Revise Summary1": {
      "main": [
        [
          {
            "node": "13. Format Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "14. Has Attendees?": {
      "main": [
        [
          {
            "node": "15. Send to Attendees",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "End: Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "82ab4ace-d67b-4440-8e54-eefec944cf89",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b2c0853bab25f0ea7e0acda173d3435f5e384863ef868635bc0518b4a9fa0caa"
  },
  "id": "NsqsQdmWGXNW0I8f",
  "tags": []
}