n8n/workflow-production.json
{
    "name": "E-Secretary: Complete Meeting Processor with Reply Detection",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "fireflies-transcript",
                "responseMode": "responseNode",
                "options": {
                    "rawBody": false
                }
            },
            "id": "webhook-trigger",
            "name": "1. Fireflies Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                -800,
                0
            ],
            "webhookId": "fireflies-transcript"
        },
        {
            "parameters": {},
            "id": "manual-trigger",
            "name": "🔴 Manual Test",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                -800,
                200
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.fireflies.ai/graphql",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\n  \"query\": \"query { transcripts(limit: 1) { id title date duration organizer_email participants meeting_attendees { displayName email } sentences { text speaker_name } } }\"\n}",
                "options": {
                    "timeout": 30000
                }
            },
            "id": "fetch-fireflies",
            "name": "2. Fetch Latest Meeting",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -560,
                200
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "AiWJvUpLbYADyKsi",
                    "name": "Header Auth account 2"
                }
            },
            "onError": "continueErrorOutput"
        },
        {
            "parameters": {
                "jsCode": "const raw = $input.first().json;\nlet data = raw.data?.transcripts?.[0] || raw;\n\nconst meeting = {\n  id: data.id || data.meeting_id || 'meet_' + Date.now(),\n  title: (data.title || data.meeting_title || 'Untitled').slice(0, 200),\n  host_email: data.organizer_email || data.host_email || null,\n  attendees: [],\n  transcript: '',\n  duration: parseInt(data.duration) || 0,\n  date: data.date || new Date().toISOString()\n};\n\nif (!meeting.host_email) {\n  const p = data.participants || data.attendees || data.meeting_attendees || [];\n  if (p[0]?.email) meeting.host_email = p[0].email;\n  else if (typeof p[0] === 'string' && p[0].includes('@')) meeting.host_email = p[0];\n}\nif (!meeting.host_email) throw new Error('No host email found');\n\nconst att = data.meeting_attendees || data.participants || data.attendees || [];\nmeeting.attendees = att.slice(0, 50).map(a => ({email: a.email || a, name: a.displayName || a.name || ''})).filter(a => a.email && typeof a.email === 'string' && a.email.includes('@'));\n\nlet text = '';\nif (data.sentences && Array.isArray(data.sentences)) {\n  text = data.sentences.map(s => (s.speaker_name || 'Speaker') + ': ' + (s.text || '')).join(' ');\n} else if (typeof data.transcript === 'string') {\n  text = data.transcript;\n}\n\nif (text.length < 50) throw new Error('Transcript too short');\n\ntext = text.replace(/\\\\/g, '').replace(/\"/g, \"'\").replace(/[\\n\\r\\t]/g, ' ').replace(/\\s+/g, ' ').trim();\nif (text.length > 50000) text = text.slice(0, 50000) + ' [Truncated]';\n\nmeeting.transcript = text;\nmeeting.transcript_length = text.length;\n\nreturn { json: meeting };"
            },
            "id": "transform-data",
            "name": "3. Transform Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -320,
                100
            ],
            "onError": "continueErrorOutput"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googlePalmApi",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"contents\": [{\"parts\": [{\"text\": \"You are an expert meeting analyst. Create a professional meeting summary.\\n\\nRULES:\\n- MAX 500 words\\n- Use bullet points\\n- Include names for action items\\n\\nFORMAT:\\n## Executive Summary\\n[Key points]\\n\\n## Action Items\\n- [ ] Task - Owner\\n\\n## Key Decisions\\n- Decision made\\n\\n## Follow-up\\n- Open items\\n\\n---\\nMeeting: {{ $json.title }}\\nDuration: {{ $json.duration }} min\\n\\nTranscript:\\n{{ $json.transcript }}\"}]}],\n  \"generationConfig\": {\"temperature\": 0.2, \"maxOutputTokens\": 2048}\n}",
                "options": {
                    "timeout": 120000
                }
            },
            "id": "gemini-summarize",
            "name": "4. Gemini Summarize",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -80,
                100
            ],
            "retryOnFail": true,
            "maxTries": 3,
            "waitBetweenTries": 3000,
            "credentials": {
                "googlePalmApi": {
                    "id": "googlePalmApi",
                    "name": "Google Gemini(PaLM) Api account"
                }
            },
            "onError": "continueErrorOutput"
        },
        {
            "parameters": {
                "jsCode": "const geminiRaw = $input.first().json;\nconst meeting = $('3. Transform Data').first().json;\n\nlet summary = 'Summary generation failed.';\ntry {\n  if (geminiRaw.candidates?.[0]?.content?.parts?.[0]?.text) {\n    summary = geminiRaw.candidates[0].content.parts[0].text.trim();\n  } else if (geminiRaw.error) {\n    summary = 'AI Error: ' + geminiRaw.error.message;\n  }\n} catch (e) {\n  summary = 'Error: ' + e.message;\n}\n\nconst dateStr = new Date(meeting.date).toLocaleDateString('en-IN', {\n  weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit'\n});\n\nconst attendeeList = meeting.attendees.map(a => a.name ? a.name + ' (' + a.email + ')' : a.email).join(', ') || 'None';\n\nconst emailHtml = `<!DOCTYPE html><html><head><meta charset=\"utf-8\"><style>*{box-sizing:border-box}body{margin:0;padding:20px;background:linear-gradient(135deg,#0f172a 0%,#1e293b 100%);font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,sans-serif;min-height:100vh}.card{max-width:680px;margin:0 auto;border-radius:24px;overflow:hidden;box-shadow:0 25px 50px -12px rgba(0,0,0,0.5)}.header{background:linear-gradient(135deg,#3b82f6 0%,#8b5cf6 50%,#06b6d4 100%);padding:36px 40px;position:relative}.header::before{content:'';position:absolute;top:0;left:0;right:0;bottom:0;background:url(\"data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.05'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E\")}.header h1{color:white;margin:0 0 8px;font-size:26px;font-weight:700;text-shadow:0 2px 4px rgba(0,0,0,0.2);position:relative}.header p{color:rgba(255,255,255,0.9);margin:0;font-size:15px;position:relative}.badge{display:inline-block;background:rgba(255,255,255,0.2);backdrop-filter:blur(10px);padding:6px 14px;border-radius:20px;font-size:12px;color:white;margin-top:12px}.content{background:white;padding:36px 40px}.title{color:#0f172a;font-size:22px;font-weight:700;margin:0 0 24px;padding-bottom:16px;border-bottom:2px solid #e2e8f0}.meta{display:grid;grid-template-columns:repeat(3,1fr);gap:16px;margin-bottom:28px}.meta-item{background:linear-gradient(135deg,#f8fafc 0%,#f1f5f9 100%);padding:16px;border-radius:12px;text-align:center}.meta-icon{font-size:24px;margin-bottom:6px}.meta-label{font-size:11px;color:#64748b;text-transform:uppercase;letter-spacing:0.5px}.meta-value{font-size:14px;color:#1e293b;font-weight:600;margin-top:4px}.summary-box{background:linear-gradient(135deg,#f0f9ff 0%,#e0f2fe 100%);border:1px solid #bae6fd;border-radius:16px;padding:28px;margin:24px 0}.summary-title{display:flex;align-items:center;gap:10px;font-size:16px;font-weight:700;color:#0369a1;margin:0 0 20px}.summary-content{font-size:14px;line-height:1.8;color:#334155}.summary-content h4{color:#0f172a;margin:20px 0 12px;font-size:15px;font-weight:700;display:flex;align-items:center;gap:8px}.summary-content h4::before{content:'';width:4px;height:20px;background:linear-gradient(135deg,#3b82f6,#8b5cf6);border-radius:2px}.approval{background:linear-gradient(135deg,#fef3c7 0%,#fde68a 100%);border:2px solid #f59e0b;border-radius:16px;padding:28px;margin-top:28px}.approval h4{color:#92400e;margin:0 0 16px;font-size:16px;font-weight:700;display:flex;align-items:center;gap:10px}.approval-options{display:grid;gap:12px}.approval-option{background:white;padding:14px 18px;border-radius:10px;display:flex;align-items:center;gap:12px;box-shadow:0 2px 4px rgba(0,0,0,0.05)}.approval-option code{background:#fef3c7;padding:4px 10px;border-radius:6px;font-weight:600;color:#92400e;font-size:13px}.approval-option span{color:#78350f;font-size:13px}.footer{background:linear-gradient(135deg,#1e293b 0%,#0f172a 100%);padding:24px 40px;text-align:center}.footer p{color:#64748b;margin:0;font-size:12px}.footer .brand{color:#3b82f6;font-weight:600}</style></head><body><div class=\"card\"><div class=\"header\"><h1>📋 Meeting Summary</h1><p>Review Required - Please approve to send to attendees</p><span class=\"badge\">🔔 Action Needed</span></div><div class=\"content\"><h2 class=\"title\">${meeting.title}</h2><div class=\"meta\"><div class=\"meta-item\"><div class=\"meta-icon\">📅</div><div class=\"meta-label\">Date</div><div class=\"meta-value\">${dateStr}</div></div><div class=\"meta-item\"><div class=\"meta-icon\">⏱️</div><div class=\"meta-label\">Duration</div><div class=\"meta-value\">${meeting.duration} min</div></div><div class=\"meta-item\"><div class=\"meta-icon\">👥</div><div class=\"meta-label\">Attendees</div><div class=\"meta-value\">${meeting.attendees.length}</div></div></div><p style=\"font-size:13px;color:#64748b;margin-bottom:20px\"><strong>Participants:</strong> ${attendeeList}</p><div class=\"summary-box\"><h3 class=\"summary-title\">🤖 AI-Generated Summary</h3><div class=\"summary-content\">${summary.replace(/\\n/g,'<br>').replace(/## (.*?)(<br>|$)/g,'<h4>$1</h4>').replace(/\\*\\*(.*?)\\*\\*/g,'<strong>$1</strong>').replace(/- \\[ \\]/g,'☐').replace(/- \\[x\\]/g,'☑')}</div></div><div class=\"approval\"><h4>✅ How to Approve</h4><div class=\"approval-options\"><div class=\"approval-option\"><code>APPROVED</code><span>Approve as-is and send to all attendees</span></div><div class=\"approval-option\"><code>APPROVED WITH CHANGES:</code><span>+ your edits (will be revised by AI)</span></div><div class=\"approval-option\"><code>REJECT</code><span>Discard this summary</span></div></div></div></div><div class=\"footer\"><p>Meeting ID: ${meeting.id} | Powered by <span class=\"brand\">E-Secretary</span></p></div></div></body></html>`;\n\nreturn {\n  json: {\n    meeting_id: meeting.id,\n    title: meeting.title,\n    host_email: meeting.host_email,\n    attendees: meeting.attendees,\n    date: meeting.date,\n    duration: meeting.duration,\n    summary: summary,\n    email_subject: '[Review Required] Meeting Summary: ' + meeting.title.slice(0, 50),\n    email_body: emailHtml,\n    thread_id: null\n  }\n};"
            },
            "id": "format-host-email",
            "name": "5. Format Email",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                160,
                100
            ]
        },
        {
            "parameters": {
                "sendTo": "={{ $json.host_email }}",
                "subject": "={{ $json.email_subject }}",
                "message": "={{ $json.email_body }}",
                "options": {
                    "appendAttribution": false
                }
            },
            "id": "gmail-host",
            "name": "6. Send to Host",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.1,
            "position": [
                400,
                100
            ],
            "credentials": {
                "gmailOAuth2": {
                    "id": "yn0da0X8KKRoG8H7",
                    "name": "Gmail account"
                }
            },
            "onError": "continueErrorOutput"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: true, meeting_id: $('3. Transform Data').first().json.id, status: 'sent_to_host', host: $json.host_email }) }}",
                "options": {}
            },
            "id": "respond-webhook",
            "name": "7. Respond OK",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                640,
                0
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: false, error: $input.first().json.error?.message || 'Failed' }) }}",
                "options": {
                    "responseCode": 400
                }
            },
            "id": "respond-error",
            "name": "Error",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                160,
                300
            ]
        },
        {
            "parameters": {},
            "id": "end-sent",
            "name": "✅ Sent to Host",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                640,
                200
            ]
        }
    ],
    "connections": {
        "1. Fireflies Webhook": {
            "main": [
                [
                    {
                        "node": "3. Transform Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "🔴 Manual Test": {
            "main": [
                [
                    {
                        "node": "2. Fetch Latest Meeting",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "2. Fetch Latest Meeting": {
            "main": [
                [
                    {
                        "node": "3. Transform Data",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Error",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "3. Transform Data": {
            "main": [
                [
                    {
                        "node": "4. Gemini Summarize",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Error",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "4. Gemini Summarize": {
            "main": [
                [
                    {
                        "node": "5. Format Email",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Error",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "5. Format Email": {
            "main": [
                [
                    {
                        "node": "6. Send to Host",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "6. Send to Host": {
            "main": [
                [
                    {
                        "node": "7. Respond OK",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "✅ Sent to Host",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Error",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "tags": []
}