n8n/workflow-transcript-processor.json
{
    "name": "E-Secretary: Meeting Transcript Processor (Optimized)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "fireflies-transcript",
                "responseMode": "responseNode",
                "options": {
                    "rawBody": false,
                    "responseData": "firstEntryJson"
                }
            },
            "id": "webhook-trigger",
            "name": "1. Fireflies Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                100,
                300
            ],
            "webhookId": "fireflies-transcript"
        },
        {
            "parameters": {
                "jsCode": "/**\n * STAGE 1: Parse and Validate Fireflies Data\n * Handles chunking for large transcripts to prevent memory issues\n */\n\nconst input = $input.first().json;\n\n// Basic validation\nif (!input || Object.keys(input).length === 0) {\n  throw new Error('Empty webhook payload received');\n}\n\n// Extract meeting data with fallbacks\nconst meetingData = {\n  meeting_id: input.meeting_id || input.id || `meeting_${Date.now()}`,\n  title: (input.title || input.meeting_title || 'Untitled Meeting').slice(0, 200),\n  host_email: input.organizer_email || input.host_email || input.owner_email,\n  attendees: [],\n  transcript: '',\n  duration_minutes: Math.min(input.duration || 0, 480), // Cap at 8 hours\n  meeting_date: input.date || input.meeting_date || new Date().toISOString(),\n  audio_url: input.audio_url || null\n};\n\n// Validate host email\nif (!meetingData.host_email || !meetingData.host_email.includes('@')) {\n  throw new Error('Valid host_email is required');\n}\n\n// Process attendees - limit to 50 max\nlet rawAttendees = input.attendees || input.participants || [];\nif (typeof rawAttendees === 'string') {\n  rawAttendees = rawAttendees.split(',').map(e => ({ email: e.trim() }));\n}\nmeetingData.attendee_emails = rawAttendees\n  .slice(0, 50)\n  .map(a => a.email || a)\n  .filter(e => e && typeof e === 'string' && e.includes('@'));\n\n// Handle transcript - CRITICAL FOR LARGE DATA\nlet rawTranscript = input.transcript || input.transcript_text || input.text || '';\n\n// If transcript is an array of segments, join them\nif (Array.isArray(rawTranscript)) {\n  rawTranscript = rawTranscript\n    .map(seg => `${seg.speaker || 'Speaker'}: ${seg.text || seg.content || ''}`)\n    .join('\\n');\n}\n\n// Truncate extremely large transcripts (Gemini limit is ~120k tokens)\n// Safe limit: ~100k characters\nconst MAX_TRANSCRIPT_SIZE = 100000;\nif (rawTranscript.length > MAX_TRANSCRIPT_SIZE) {\n  console.log(`Transcript truncated from ${rawTranscript.length} to ${MAX_TRANSCRIPT_SIZE} chars`);\n  rawTranscript = rawTranscript.slice(0, MAX_TRANSCRIPT_SIZE) + '\\n\\n[TRANSCRIPT TRUNCATED DUE TO LENGTH]';\n}\n\nmeetingData.transcript = rawTranscript;\nmeetingData.transcript_length = rawTranscript.length;\nmeetingData.is_large = rawTranscript.length > 50000;\n\n// Memory cleanup\nrawTranscript = null;\n\nreturn { json: meetingData };"
            },
            "id": "parse-fireflies",
            "name": "2. Parse & Validate",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                320,
                300
            ],
            "onError": "continueErrorOutput"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "has-transcript",
                            "leftValue": "={{ $json.transcript.length }}",
                            "rightValue": 100,
                            "operator": {
                                "type": "number",
                                "operation": "gt"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "check-transcript",
            "name": "3. Has Valid Transcript?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                540,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpQueryAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"You are an expert meeting analyst. Analyze this transcript and provide a CONCISE summary.\\n\\nOUTPUT FORMAT (use exactly this structure):\\n\\n## Executive Summary\\n[3-5 bullet points max]\\n\\n## Action Items\\n[List with owner names if mentioned]\\n\\n## Key Decisions\\n[Bullet points]\\n\\n## Follow-up Required\\n[Any pending items]\\n\\n---\\nMeeting: {{ $json.title }}\\nDuration: {{ $json.duration_minutes }} min\\n\\nTranscript:\\n{{ $json.transcript.slice(0, 80000) }}\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.2,\n    \"topK\": 40,\n    \"topP\": 0.95,\n    \"maxOutputTokens\": 2048\n  },\n  \"safetySettings\": [\n    {\"category\": \"HARM_CATEGORY_HARASSMENT\", \"threshold\": \"BLOCK_NONE\"},\n    {\"category\": \"HARM_CATEGORY_HATE_SPEECH\", \"threshold\": \"BLOCK_NONE\"},\n    {\"category\": \"HARM_CATEGORY_SEXUALLY_EXPLICIT\", \"threshold\": \"BLOCK_NONE\"},\n    {\"category\": \"HARM_CATEGORY_DANGEROUS_CONTENT\", \"threshold\": \"BLOCK_NONE\"}\n  ]\n}",
                "options": {
                    "timeout": 120000
                }
            },
            "id": "gemini-summarize",
            "name": "4. Gemini: Summarize",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                760,
                200
            ],
            "credentials": {
                "httpQueryAuth": {
                    "id": "gemini-api-key",
                    "name": "Gemini API Key"
                }
            },
            "onError": "continueErrorOutput",
            "retryOnFail": true,
            "maxTries": 3,
            "waitBetweenTries": 5000
        },
        {
            "parameters": {
                "jsCode": "/**\n * STAGE 2: Format Email for Host Approval\n * Generates clean HTML email with summary\n */\n\nconst geminiResponse = $input.first().json;\nconst meetingData = $('2. Parse & Validate').first().json;\n\n// Extract summary from Gemini response\nlet summary = '';\ntry {\n  if (geminiResponse.candidates?.[0]?.content?.parts?.[0]?.text) {\n    summary = geminiResponse.candidates[0].content.parts[0].text;\n  } else if (geminiResponse.error) {\n    summary = `**AI Summary Unavailable**\\n\\nError: ${geminiResponse.error.message || 'Unknown error'}\\n\\nPlease review the transcript manually.`;\n  } else {\n    summary = '**Summary generation failed.** Please review the transcript manually.';\n  }\n} catch (e) {\n  summary = `**Error processing response:** ${e.message}`;\n}\n\n// Clean up summary (remove any excessive whitespace)\nsummary = summary.replace(/\\n{3,}/g, '\\n\\n').trim();\n\nconst dateStr = new Date(meetingData.meeting_date).toLocaleDateString('en-IN', {\n  weekday: 'long',\n  year: 'numeric',\n  month: 'long',\n  day: 'numeric'\n});\n\nconst emailSubject = `[Review Required] Meeting Summary: ${meetingData.title.slice(0, 50)}`;\n\nconst emailBody = `\n<div style=\"font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; max-width: 650px; margin: 0 auto; background: #f8fafc;\">\n  <div style=\"background: linear-gradient(135deg, #3b82f6, #06b6d4); padding: 24px 30px; border-radius: 12px 12px 0 0;\">\n    <h1 style=\"color: white; margin: 0; font-size: 20px; font-weight: 600;\">📋 Meeting Summary</h1>\n    <p style=\"color: rgba(255,255,255,0.85); margin: 8px 0 0; font-size: 14px;\">Please review and approve</p>\n  </div>\n  \n  <div style=\"padding: 24px 30px; background: white; border: 1px solid #e2e8f0; border-top: none;\">\n    <table style=\"width: 100%; margin-bottom: 16px; font-size: 14px;\">\n      <tr><td style=\"padding: 6px 0; color: #64748b; width: 100px;\">Meeting:</td><td style=\"font-weight: 500;\">${meetingData.title}</td></tr>\n      <tr><td style=\"padding: 6px 0; color: #64748b;\">Date:</td><td>${dateStr}</td></tr>\n      <tr><td style=\"padding: 6px 0; color: #64748b;\">Duration:</td><td>${meetingData.duration_minutes} minutes</td></tr>\n      <tr><td style=\"padding: 6px 0; color: #64748b;\">Attendees:</td><td>${meetingData.attendee_emails.length} participants</td></tr>\n    </table>\n    \n    <div style=\"background: #f8fafc; padding: 20px; border-radius: 8px; border: 1px solid #e2e8f0; font-size: 14px; line-height: 1.6;\">\n      ${summary.replace(/\\n/g, '<br>').replace(/\\*\\*(.*?)\\*\\*/g, '<strong>$1</strong>').replace(/## (.*?)(<br>|$)/g, '<h3 style=\"color: #1e293b; margin: 16px 0 8px; font-size: 15px;\">$1</h3>')}\n    </div>\n    \n    <div style=\"margin-top: 20px; padding: 16px; background: #fef9c3; border-radius: 8px; border-left: 4px solid #eab308;\">\n      <p style=\"margin: 0 0 8px; font-weight: 600; color: #854d0e; font-size: 14px;\">📝 To Approve:</p>\n      <p style=\"margin: 0; color: #713f12; font-size: 13px;\">Reply with <strong>APPROVED</strong> to send to attendees, or <strong>APPROVED with changes:</strong> followed by your edits.</p>\n    </div>\n  </div>\n  \n  <div style=\"background: #1e293b; padding: 16px 30px; border-radius: 0 0 12px 12px; text-align: center;\">\n    <p style=\"color: #64748b; margin: 0; font-size: 11px;\">Meeting ID: ${meetingData.meeting_id} | E-Secretary</p>\n  </div>\n</div>\n`;\n\n// Clear transcript from memory (not needed after this point)\ndelete meetingData.transcript;\n\nreturn {\n  json: {\n    meeting_id: meetingData.meeting_id,\n    title: meetingData.title,\n    host_email: meetingData.host_email,\n    attendee_emails: meetingData.attendee_emails,\n    meeting_date: meetingData.meeting_date,\n    duration_minutes: meetingData.duration_minutes,\n    ai_summary: summary,\n    email_subject: emailSubject,\n    email_body: emailBody\n  }\n};"
            },
            "id": "format-email",
            "name": "5. Format Host Email",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                980,
                200
            ]
        },
        {
            "parameters": {
                "sendTo": "={{ $json.host_email }}",
                "subject": "={{ $json.email_subject }}",
                "emailType": "html",
                "message": "={{ $json.email_body }}",
                "options": {
                    "appendAttribution": false
                }
            },
            "id": "send-host-email",
            "name": "6. Gmail: Send to Host",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.1,
            "position": [
                1200,
                200
            ],
            "credentials": {
                "gmailOAuth2": {
                    "id": "gmail-oauth",
                    "name": "Gmail OAuth2"
                }
            },
            "onError": "continueErrorOutput"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: true, meeting_id: $('2. Parse & Validate').first().json.meeting_id, status: 'awaiting_approval', host: $json.host_email }) }}"
            },
            "id": "respond-webhook",
            "name": "7. Respond to Fireflies",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1420,
                200
            ]
        },
        {
            "parameters": {
                "unit": "hours",
                "value": 48
            },
            "id": "wait-approval",
            "name": "8. Wait (48h max)",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                1420,
                400
            ],
            "webhookId": "wait-approval"
        },
        {
            "parameters": {
                "jsCode": "/**\n * STAGE 3: Process Host's Reply\n * Extracts approval status and any suggestions\n */\n\nconst emailData = $('5. Format Host Email').first().json;\nconst hostReply = $input.first().json;\n\nlet approvalStatus = 'timeout';\nlet hostSuggestions = '';\n\nconst replyText = (hostReply.text || hostReply.body || hostReply.snippet || '').toLowerCase();\n\nif (replyText.includes('approved')) {\n  approvalStatus = 'approved';\n  \n  // Extract suggestions if any\n  const fullReply = hostReply.text || hostReply.body || '';\n  const suggestMatch = fullReply.match(/with changes?:?\\s*([\\s\\S]*)/i) ||\n                       fullReply.match(/suggestions?:?\\s*([\\s\\S]*)/i) ||\n                       fullReply.match(/edits?:?\\s*([\\s\\S]*)/i);\n  \n  if (suggestMatch && suggestMatch[1]) {\n    hostSuggestions = suggestMatch[1].trim().slice(0, 2000); // Limit suggestions size\n  }\n} else if (replyText.includes('reject') || replyText.includes('cancel') || replyText.includes('discard')) {\n  approvalStatus = 'rejected';\n}\n\nreturn {\n  json: {\n    ...emailData,\n    approval_status: approvalStatus,\n    host_suggestions: hostSuggestions,\n    has_changes: hostSuggestions.length > 0\n  }\n};"
            },
            "id": "process-reply",
            "name": "9. Process Reply",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1640,
                400
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "approved",
                            "leftValue": "={{ $json.approval_status }}",
                            "rightValue": "approved",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "check-approval",
            "name": "10. Is Approved?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                1860,
                400
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "has-changes",
                            "leftValue": "={{ $json.has_changes }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "check-changes",
            "name": "11. Has Changes?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                2080,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpQueryAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"Update this meeting summary based on the host's feedback. Keep the same format.\\n\\nOriginal Summary:\\n{{ $json.ai_summary }}\\n\\nHost's Changes:\\n{{ $json.host_suggestions }}\\n\\nProvide the updated summary:\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.1,\n    \"maxOutputTokens\": 2048\n  }\n}",
                "options": {
                    "timeout": 60000
                }
            },
            "id": "gemini-revise",
            "name": "12. Gemini: Revise",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2300,
                200
            ],
            "credentials": {
                "httpQueryAuth": {
                    "id": "gemini-api-key",
                    "name": "Gemini API Key"
                }
            },
            "retryOnFail": true,
            "maxTries": 2
        },
        {
            "parameters": {
                "jsCode": "/**\n * STAGE 4: Format Final Email for All Attendees\n */\n\n// Get data from appropriate source\nlet data = $('9. Process Reply').first().json;\nlet finalSummary = data.ai_summary;\n\n// Check if we have revised summary\nconst revisedResponse = $input.first().json;\nif (revisedResponse?.candidates?.[0]?.content?.parts?.[0]?.text) {\n  finalSummary = revisedResponse.candidates[0].content.parts[0].text;\n}\n\nconst dateStr = new Date(data.meeting_date).toLocaleDateString('en-IN', {\n  weekday: 'long',\n  year: 'numeric',\n  month: 'long',\n  day: 'numeric'\n});\n\nconst emailBody = `\n<div style=\"font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; max-width: 650px; margin: 0 auto;\">\n  <div style=\"background: linear-gradient(135deg, #3b82f6, #06b6d4); padding: 24px 30px; border-radius: 12px 12px 0 0;\">\n    <h1 style=\"color: white; margin: 0; font-size: 20px;\">📋 Meeting Summary</h1>\n    <p style=\"color: rgba(255,255,255,0.9); margin: 8px 0 0; font-size: 14px;\">${data.title}</p>\n  </div>\n  \n  <div style=\"padding: 24px 30px; background: white; border: 1px solid #e2e8f0; border-top: none;\">\n    <table style=\"width: 100%; margin-bottom: 16px; font-size: 14px;\">\n      <tr><td style=\"padding: 6px 0; color: #64748b; width: 100px;\">Date:</td><td>${dateStr}</td></tr>\n      <tr><td style=\"padding: 6px 0; color: #64748b;\">Duration:</td><td>${data.duration_minutes} minutes</td></tr>\n    </table>\n    \n    <div style=\"background: #f8fafc; padding: 20px; border-radius: 8px; border: 1px solid #e2e8f0; font-size: 14px; line-height: 1.7;\">\n      ${finalSummary.replace(/\\n/g, '<br>').replace(/\\*\\*(.*?)\\*\\*/g, '<strong>$1</strong>').replace(/## (.*?)(<br>|$)/g, '<h3 style=\"color: #1e293b; margin: 16px 0 8px; font-size: 15px;\">$1</h3>')}\n    </div>\n  </div>\n  \n  <div style=\"background: #1e293b; padding: 14px 30px; border-radius: 0 0 12px 12px; text-align: center;\">\n    <p style=\"color: #64748b; margin: 0; font-size: 11px;\">This summary was reviewed and approved by the meeting host. | E-Secretary</p>\n  </div>\n</div>\n`;\n\nreturn {\n  json: {\n    meeting_id: data.meeting_id,\n    title: data.title,\n    host_email: data.host_email,\n    attendee_emails: data.attendee_emails,\n    final_summary: finalSummary,\n    email_subject: `📋 Meeting Summary: ${data.title.slice(0, 50)}`,\n    email_body: emailBody\n  }\n};"
            },
            "id": "format-final",
            "name": "13. Format Final Email",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2520,
                300
            ]
        },
        {
            "parameters": {
                "sendTo": "={{ $json.attendee_emails.join(', ') }}",
                "subject": "={{ $json.email_subject }}",
                "emailType": "html",
                "message": "={{ $json.email_body }}",
                "options": {
                    "ccEmail": "={{ $json.host_email }}",
                    "appendAttribution": false
                }
            },
            "id": "send-attendees",
            "name": "14. Gmail: Attendees",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.1,
            "position": [
                2740,
                300
            ],
            "credentials": {
                "gmailOAuth2": {
                    "id": "gmail-oauth",
                    "name": "Gmail OAuth2"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: false, error: 'Invalid or missing transcript', meeting_id: $('2. Parse & Validate').first()?.json?.meeting_id }) }}"
            },
            "id": "error-no-transcript",
            "name": "Error: No Transcript",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                760,
                420
            ]
        },
        {
            "parameters": {},
            "id": "end-rejected",
            "name": "End: Rejected",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                2080,
                520
            ]
        }
    ],
    "connections": {
        "1. Fireflies Webhook": {
            "main": [
                [
                    {
                        "node": "2. Parse & Validate",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "2. Parse & Validate": {
            "main": [
                [
                    {
                        "node": "3. Has Valid Transcript?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "3. Has Valid Transcript?": {
            "main": [
                [
                    {
                        "node": "4. Gemini: Summarize",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Error: No Transcript",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "4. Gemini: Summarize": {
            "main": [
                [
                    {
                        "node": "5. Format Host Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "5. Format Host Email": {
            "main": [
                [
                    {
                        "node": "6. Gmail: Send to Host",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "6. Gmail: Send to Host": {
            "main": [
                [
                    {
                        "node": "7. Respond to Fireflies",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "8. Wait (48h max)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "8. Wait (48h max)": {
            "main": [
                [
                    {
                        "node": "9. Process Reply",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "9. Process Reply": {
            "main": [
                [
                    {
                        "node": "10. Is Approved?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "10. Is Approved?": {
            "main": [
                [
                    {
                        "node": "11. Has Changes?",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "End: Rejected",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "11. Has Changes?": {
            "main": [
                [
                    {
                        "node": "12. Gemini: Revise",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "13. Format Final Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "12. Gemini: Revise": {
            "main": [
                [
                    {
                        "node": "13. Format Final Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "13. Format Final Email": {
            "main": [
                [
                    {
                        "node": "14. Gmail: Attendees",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "saveManualExecutions": true,
        "saveDataSuccessExecution": "none",
        "saveExecutionProgress": false,
        "errorWorkflow": ""
    },
    "staticData": null,
    "tags": [
        {
            "name": "E-Secretary",
            "createdAt": "2024-01-06",
            "updatedAt": "2024-01-06"
        }
    ],
    "triggerCount": 1,
    "versionId": "2-optimized"
}